@using BlogSphere.WebUI.Components.Shared.Enums
@using System.Linq.Expressions

<div class="input-group">
    @if(!string.IsNullOrEmpty(Label))
    {
        <label class="input-label">
            @Label
            @if (Required)
            {
                <span class="required">*</span>
            }
        </label>
    }
    <div class="input-wrapper">
        @if (Icon != null)
        {
            <div class="input-icon">
                @Icon
            </div>
        }

        <input type="@Types[Type]"
               class="@InputCssClass"
               placeholder="@Placeholder"
               value="@Value"
               disabled="@Disabled"
               required="@Required" 
               @onchange="HnadleChange"/>
    </div>

    @if (!string.IsNullOrEmpty(Error))
    {
        <span class="error-message">@Error</span>
    }
</div>


@code
{
    [Parameter]
    public InputType Type { get; set; } = InputType.Text;
    [Parameter]
    public bool Disabled { get; set; } = false;
    [Parameter]
    public RenderFragment? Icon { get; set; }
    [Parameter]
    public string CssClass { get; set; } = string.Empty;
    [Parameter]
    public string Error { get; set; } = string.Empty;
    [Parameter]
    public string Label { get; set; } = string.Empty;
    [Parameter]
    public string Placeholder { get; set; } = string.Empty;
    [Parameter] 
    public string Value { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<string> OnChange { get; set; }
    [Parameter]
    public bool Required { get; set; } = false;

    public Dictionary<InputType, string> Types = new()
    {
        { InputType.File, "file"},
        { InputType.Email, "email"},
        { InputType.Number, "number"},
        { InputType.Text, "text"},
        { InputType.Password, "password"},

    };

    private string InputCssClass 
                => $"input {(string.IsNullOrEmpty(Error) ? "" : "input-error")} {(Icon != null ? "input-with-icon" : "")} {CssClass}";

    public async Task HnadleChange(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();
        await OnChange.InvokeAsync(value);
    }
}